:root {
    --vp-c-brand: #ffab00;
    --vp-c-brand-light: #ffdd4b;

    --vp-c-brand-dark: #ffd600;
    --vp-c-brand-darker: #c7a500;

    --vp-button-brand-border: #c7a500;
    --vp-button-brand-hover-border: #c7a500;
}
