:root {
    --vp-c-brand-1: #ffb900;
    --vp-c-brand-2: #ffdd4b;

    --vp-c-brand-dark: #ffd600;
    --vp-c-brand-darker: #c7a500;

    --vp-button-brand-bg: #ffb900;
    --vp-button-brand-border: #c7a500;
    --vp-button-brand-hover-border: #c7a500;
    --vp-button-brand-active-border: #c7a500;

    --vp-code-font-size: .99rem
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'ms-segoe-fluent' !important;
    transition-property: background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.38, 0, 0.19, 1) ;
    transition-duration: 100ms  ;
}

@font-face {
    font-family: ms-segoe-fluent;
    src: url("/segoe.ttf");
}

.content-body{
    background-color: color-mix(in srgb, var(--vp-nav-bg-color), transparent 15%) !important;
    backdrop-filter: blur(8px);
}

p>em{
    opacity: .78 ;
    font-weight: lighter !important;
    font-style: italic !important;
    display: inline-block !important;
    font-synthesis: style !important;

    transition-property: all !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
    transition-duration: 233ms  !important;
}

p>em:hover{
    opacity: 1;
}

.curtain::before{
    background: linear-gradient(color-mix(in srgb, var(--vp-c-bg), transparent 15%), transparent 80%) !important;
}

table{
	width: 100% !important;
	display: table !important;
    opacity: 1;
}

div .custom-block{
    padding: 8px 16px !important;
}
p.custom-block-title{
    margin: 7.5px 0 !important;
    font-size: 15px;
}
.custom-block > p:not(.custom-block-title){
    margin-top: 0 !important;
}

.tip>.custom-block-title::before{
    content: '\e82f';
    font-weight: bolder;
    transform: translateY(1.5px) scale(78%);
    margin-right: 1.5px;
    padding: .5px;
    display: inline-block;
}
.info>.custom-block-title::before{
    content: '\e946';
    font-weight: bolder;
    transform: translateY(2px);
    margin-right: 2px;
    padding: .5px;
    display: inline-block;
}
.warning>.custom-block-title::before{
    content: '\e7ba';
    font-weight: bolder;
    transform: translateY(1.5px);
    margin-right: 1.5px;
    padding: .5px;
    display: inline-block;
}
.danger>.custom-block-title::before{
    content: '\e894';
    font-weight: bolder;
    transform: translateY(2px);
    margin-right: 1.5px;
    padding: .5px;
    display: inline-block;
}


blockquote:not(strong>blockquote):hover{
    opacity: 1
}



.bitter{
    background-color: rgb(251 192 45 / 10.5%) !important;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
    transition-duration: 233ms  !important;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.06), 0 4px 6px -4px rgb(0 0 0 / 0.06);
    opacity: .9;
}
.bitter:hover{
    background-color: rgb(251 192 45 / 12%) !important;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    opacity: 1;
}
.bitter:active{
    background-color: rgb(251 192 45 / 15%) !important;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.09), 0 4px 6px -4px rgb(0 0 0 / 0.09);
    opacity: .79;
}

blockquote{
    transition-property: all !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
    transition-duration: 233ms  !important;

    font-style: italic !important;
    font-family: system-ui !important;
    font-weight: 100 !important;
    border-left: #c7a500 3px solid !important;
    padding-left: .39rem;
    border-radius: .25rem;
    opacity: .7;
    position: relative;
}

.VPFeatures.f {
    position: relative;
    padding: 0;
}
.exlinks{
    display:grid;
    grid-template-columns: repeat(1, minmax(0, 1fr)); 
    gap:.5rem; 
}

.exlinks.two-one{
    display:grid;
    grid-template-columns: repeat(1, minmax(0, 1fr)); 
    gap:.5rem; 
}
.card-like{
    padding: 3px;
}
.smaller{
    font-size: 1em;
    line-height: normal !important;
}
.card-like>b{
    font-weight: bold;
    font-size: x-large !important;
    display: block;
    margin-top: .3rem;
}
.card-like>p{
    margin-top: .69rem !important;
    margin-bottom: .3rem !important;
}
blockquote:hover::before{
    position: absolute;
    display: block;
    opacity: .5;
    font-size: smaller;
    line-height: .69rem;
    white-space: pre;
    text-align: right;

    transition-property: all !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
    transition-duration: 233ms  !important;

    content: '注释 | comment';
    top: -.1rem;
    left: 0;
    transform: scale(80%) translateY(-9.5px) translateX(6.5px);
}
@media (min-width: 425px) {
    .exlinks{
        display:grid;grid-template-columns: repeat(1, minmax(0, 1fr)); gap:.69rem; 
    }
    .exlinks.two-one{
        display:grid;
        grid-template-columns: repeat(1, minmax(0, 1fr)); 
        gap:.5rem; 
    }
}
@media (min-width: 640px) {

    .exlinks{
        display:grid;grid-template-columns: repeat(2, minmax(0, 1fr)); gap:.69rem; 
    }
    .exlinks.two-one{
        display:grid;
        grid-template-columns: repeat(2, minmax(0, 1fr)); 
        gap:.5rem; 
    }

}
@media (min-width: 960px) {

    .exlinks{
        display:grid;grid-template-columns: repeat(3, minmax(0, 1fr)); gap:.69rem; 
    }
    .exlinks.two-one{
        display:grid;
        grid-template-columns: repeat(2, minmax(0, 1fr)); 
        gap:.5rem; 
    }
    blockquote:hover::before{
        transition-property: all !important;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
        transition-duration: 233ms  !important;
        content: '注释\A comment';
        top: 0;
        left: -1.29rem;
        transform: scale(80%) translateY(1.5px) translateX(-3rem);
    }
}
.container.f {
margin: 0 auto;
max-width: 1152px;
}

.exlink{
    display:block;
    border: 1px solid var(--vp-c-bg-soft);
    border-radius: 12px;
    height: 100%;
    background-color: var(--vp-c-bg-soft); 
    padding:.7rem;
}
.x-icon{
    transform: scale(85%) translateY(.156rem) translateX(1.5px);
    display: inline-block;
}

a.c-top-link{
    position: fixed;
    top: auto;
    left: auto;
    bottom: 3rem;
    right: 1.8rem;
    padding: 4px 10px !important;
    border-radius: .5rem;
    opacity: .86;
    color: var(--vp-c-text-1);
    background-color: var(--vp-c-brand);
    font-weight: bolder !important;
    font-size: normal !important;
    display: block !important;

    transition-property: all !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
    transition-duration: 233ms  !important;

    border: 1px rgba(128, 128, 128, 0.537) solid;
    box-shadow: 1px 1px .6rem 1px   rgba(220, 220, 220, 0.227) ;

}
a.c-top-link:hover{
    opacity: 1;
    border: 1px rgba(133, 133, 133, 0.8737) solid;
    box-shadow: 2px 1px .6rem 1px   rgba(180, 180, 180, 0.297) ;
}
a.c-top-link:active{
    opacity: .7;
    border: 1px rgba(128, 128, 128, 0.537) solid;
    box-shadow: 1px 1px .6rem 1px   rgba(220, 220, 220, 0.227) ;
}
button.menu{
    padding-top: 11px !important;
    padding-bottom: 12px !important;
}
.table-of-contents>ul{
    list-style: none;
    position: relative;
}
.table-of-contents>ul::before{
    position: absolute;
    content: '\e768';
    font-weight: bold;
    transform: translateY(3px) translateX(-19px) scale(66%);
    user-select: none;
}

code>span.line, code>span.line>*, code>span.line>span, span.line>span, code, pre{
    font-family: 'Cascadia code', 'Monaco', 'Cascadia', 'consolas', monospace, sans-serif, system-ui !important;
}
code{
    margin-left: 1px;
    margin-right: 1px;
}

/* p:has(em),
li>p,
p.text,
p.tagline,
p.details, */ 

p.indent
{
    text-indent: 4ch !important;
}

.hidden{
    display: none; 
}

.red{
    color: red !important;
}

.bold{
    font-weight: bolder !important;
}

p>code{
    word-break: keep-all;
    /* display: inline-block; */
}

.vp-doc hr {
    margin-top: 16px;
    margin-bottom: 20px;
    border: none;
    border-top: 1px solid var(--vp-c-divider);
    border-radius: 100%;
}


/* DARK AND LIGHT COLORS */
.dark{
    --vp-c-divider: #66666666 !important;
}

:root{
    --vp-c-divider: #d1d1d3;    
}
/* END DARK AND LIGHT COLORS END */
